@media (min-width: 36em) {
  .card-columns {
    column-count: 2;
  }
}
@media (min-width: 48em) {
  .card-columns {
    column-count: 3;
  }
}
@media (min-width: 62em) {
  .card-columns {
    column-count: 4;
  }
}

.card {
  min-height: 200px;

}

h2 {
  text-align: center;
}

.project-container {
  padding-bottom: 70px;
}
