/*.card-body {
  text-align: center;
  border-style: solid;
  border-width: thin;
  margin: 5px;
  padding: 5px;
  max-width: 30%;
  min-height: 100px;
}*/

.grid {
  display: flex;
  flex-flow: row wrap;
}
